<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1>My Questions</h1>
	<%= link_to "All Questions", root_path, :class => "btn btn-info" %>
	<div id="accordion" class="panel-group">
		<% @my_questions.each do |q| %>
			<div class="panel panel-default">
				<%= q.question %>
			</div>
			<div>
				<br/>
				<%= link_to "See Answers", answers_path(question_id: q.id), :class => "btn btn-info"  %>
				<%= link_to "Write an Answer", new_answer_path(question_id: q.id ), :class => "btn btn-info" %><br/><br/>
			</div>
		<% end %>
	</div>
	<br/><br/><br/>
	<%#= link_to "Ask a question", new_question_path, :class => "btn btn-info" %>
</div>